html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: LucidaGrande, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  background-color: #f8f8f8;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #0062b2;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0062b2;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  /* stylelint-disable font-family-no-duplicate-names */
  font-family: monospace, monospace;
  /* stylelint-enable font-family-no-duplicate-names */
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #d8dde6;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: auto;
}

.site-header {
  padding: 1rem 0;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

@media (min-width: 840px) {
  .site-header {
    position: fixed;
  }
}

@media (min-width: 840px) {
  .cw-toolbar-fixed-adjust {
    margin-top: 56px;
  }
}

.back-link {
  color: #000;
  padding-left: 1.75rem;
  position: relative;
  text-decoration: none;
}

.back-link:hover {
  color: #000;
  text-decoration: underline;
}

.back-link::before {
  content: url(../images/ic_chevron_left.svg);
  line-height: 1em;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
}

.cw-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 840px;
  min-width: 320px;
  padding: 0 1rem;
}

@media (min-width: 840px) {
  .cw-container {
    padding: 0 1.5rem;
  }
}

.cw-container.main-container {
  text-align: center;
  max-width: 528px;
}

@media (min-width: 840px) {
  .cw-container.main-container {
    width: 528px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.29166667;
  margin-bottom: 1.25rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}

p {
  margin-bottom: 1.5rem;
}

a {
  font-weight: 500;
}

ol,
ul {
  margin-bottom: 1.5rem;
  padding-left: 1.25rem;
}

ol > li,
ul > li {
  margin-bottom: 0.75rem;
  padding-left: 0.5rem;
}

.cw-accordion {
  list-style: none;
  margin: 0 -1rem;
  padding-left: 0;
}

@media (min-width: 840px) {
  .cw-accordion {
    margin: 0 -1.5rem;
  }
}

.cw-accordion > li {
  border-top: solid 2px #d8dde6;
  margin: 0;
  padding: 0;
}

.cw-expansion-panel.expanded .cw-expansion-panel__btn::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.cw-expansion-panel.expanded .cw-expansion-panel__content {
  display: block;
}

.cw-expansion-panel h2 {
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
}

.cw-expansion-panel .cw-expansion-panel__btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0;
  font-weight: bold;
  padding: 1rem 2.25rem 1rem 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;
}

.cw-expansion-panel .cw-expansion-panel__btn::before {
  background: url(../images/ic_chevron_down.svg) center no-repeat;
  content: '';
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 1rem;
  transition: -webkit-transform 195ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 195ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 195ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 195ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 1.2em;
  height: 100%;
}

.cw-expansion-panel .cw-expansion-panel__btn:focus, .cw-expansion-panel .cw-expansion-panel__btn:hover {
  background-color: #f8f8f8;
}

.cw-expansion-panel .cw-expansion-panel__btn:focus {
  z-index: 1;
}

.cw-expansion-panel .cw-expansion-panel__content {
  display: none;
  padding: 1rem;
}

.cw-alert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #d6312b;
  color: #d6312b;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.cw-alert .cw-alert__icon {
  margin-right: 1rem;
}

.cw-alert .cw-alert__icon img {
  width: 2rem;
  height: 2rem;
}

.cw-alert p {
  margin-bottom: 0;
}

.cw-btn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: 1;
  margin-top: 2rem;
  max-width: 100%;
  padding: 12px 20px;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: background-color 195ms cubic-bezier(0.4, 0, 0.2, 1), border-color 195ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cw-btn::before {
  border: 2px solid transparent;
  border-radius: 0.25rem;
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  transition: background-color 195ms cubic-bezier(0.4, 0, 0.2, 1), border-color 195ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cw-btn:hover, .cw-btn:focus {
  text-decoration: none;
}

.cw-btn:focus {
  outline: 0;
}

.cw-btn:focus::before {
  border-color: #0062b2;
}

.cw-btn-disabled, .cw-btn:disabled {
  cursor: not-allowed;
}

.cw-btn-primary {
  background-color: #0073d1;
  color: #fff;
}

.cw-btn-primary:focus, .cw-btn-primary:hover {
  background-color: #0062b2;
  color: #fff;
}

.cw-btn-primary.cw-btn-disabled, .cw-btn-primary:disabled {
  background-color: #e8ebf0;
  border-color: transparent;
  color: #96afc1;
}

.cw-card {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #d8dde6;
  padding: 1.5rem 1rem;
}

@media (min-width: 840px) {
  .cw-card {
    padding: 1.5rem;
  }
}

html:focus,
body:focus {
  outline: 0 !important;
}

:focus,
button:focus {
  outline: 2px solid #0062b2;
  outline-offset: 2px;
}

.cw-hide-focus :focus,
.cw-hide-focus button:focus {
  outline: 0;
}

label {
  color: #000;
  font-weight: 500;
  line-height: 1;
}

.cw-form-control {
  background: right 0.5rem center/1rem no-repeat border-box #fff;
  border: 1px solid #63738a;
  border-radius: 0;
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 11px 8px;
  transition: background-color 195ms cubic-bezier(0.4, 0, 0.2, 1), border-color 195ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 195ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  background-image: none;
  background-clip: padding-box;
}

.cw-form-control:focus, .cw-form-control:hover {
  border-color: #0062b2;
}

.cw-form-control:focus {
  border-width: 2px;
  color: #000;
  outline: none;
  padding: 10px 7px;
}

.cw-form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.cw-form-control::-webkit-input-placeholder {
  color: #63738a;
  opacity: 1;
}

.cw-form-control:-ms-input-placeholder {
  color: #63738a;
  opacity: 1;
}

.cw-form-control::placeholder {
  color: #63738a;
  opacity: 1;
}

.cw-form-control:disabled, .cw-form-control[readonly] {
  background-color: #e8ebf0;
  border-color: transparent;
  color: #96afc1;
  opacity: 1;
}

.cw-form-control:disabled::-webkit-input-placeholder, .cw-form-control[readonly]::-webkit-input-placeholder {
  color: #96afc1;
}

.cw-form-control:disabled:-ms-input-placeholder, .cw-form-control[readonly]:-ms-input-placeholder {
  color: #96afc1;
}

.cw-form-control:disabled::placeholder, .cw-form-control[readonly]::placeholder {
  color: #96afc1;
}

.cw-form-control:disabled {
  cursor: not-allowed;
}

.cw-form-control.cw-form-control--danger {
  border-color: #d6312b;
}

.cw-form-group {
  margin-bottom: 1.5rem;
}

.cw-form-control-feedback {
  line-height: 1.2;
  margin-top: 0.25rem;
  color: #d6312b;
}

.cw-modal-scroll-lock {
  overflow: hidden;
}

.cw-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  visibility: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cw-modal-open {
  visibility: visible;
}

.cw-modal-open .cw-modal__dialog,
.cw-modal-open .cw-modal__backdrop {
  opacity: 1;
}

@media (min-width: 600px) {
  .cw-modal {
    padding: 4rem 1.5rem;
  }
}

.cw-modal__dialog {
  box-shadow: 0 4px 12px 0 rgba(103, 119, 143, 0.2);
  opacity: 0;
  padding: 0;
  max-width: 320px;
  min-height: 120px;
  min-width: 240px;
}

.cw-modal__body {
  padding: 3rem;
}

.cw-modal__backdrop {
  background-color: rgba(0, 33, 51, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.spinner {
  display: inline-block;
  height: 80px;
  width: 80px;
}

.spinner-fallback {
  background: url(../images/loader-80x80.gif) center center/contain no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}

.login-card {
  margin-bottom: 1rem;
}

.login-card .logo {
  margin: 0;
  width: 13rem;
  height: 4.5rem;
}

.login-card .logo > img {
  max-width: 100%;
  max-height: 100%;
}

.login-card form {
  margin: 0 auto;
  max-width: 256px;
}

.terms {
  max-width: 17rem;
  margin: 0 auto;
}

.error-card .icon {
  width: 60px;
  margin-bottom: 1rem;
}

.error-card .error {
  max-width: 17rem;
  margin: 0 auto;
}

.provider-list {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.provider-list > li {
  margin-bottom: 1rem;
  padding-left: 0;
}

.provider-list a:hover {
  border-color: transparent;
  box-shadow: 0 0 0 2px #0062b2;
}

.provider-list img {
  height: 40px;
  max-width: 192px;
}

.provider-list .cw-card {
  display: block;
}

.cw-text-center {
  text-align: center !important;
}

.cw-text-left {
  text-align: left !important;
}

.cw-text-nowrap {
  white-space: nowrap;
}
.faq2-p{
	padding-bottom:0 !important;
}
.faq2-div{
	padding-left:25px !important;
}
.faq2-ul{
	padding-top:0 !important;
}

.error{font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:12px;color:#f90a0a;padding:0px 0px 10px 0px;}